/* this is where I style my webpage */



.main-title {
 
    color: rgb(87, 167, 111);
    text-align: center;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
}

.short-story-title {
  font-size: 28px;
  text-align: center;
  color:  #893896;
  margin-top: 40px;
}


section img {
    width: auto;
    height: 200px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}


main {
        background-color: rgb(0, 50, 3);
        height: auto;
        width: 960px;
        padding: 20px;
        margin: 0 auto; /* 0 = top and bottom, auto = left and right */

    }

body {
    padding: 30px;
    background-color: rgb(249, 255, 201);
}


p {
    font-size: 18px;
    line-height: 1.6;
    color: #000000;
    font-family: 'Georgia', serif;
}

h2 {
    font-family: 'georgia', serif;
    font-size: 150%;
    color: #0d5700;
}

li {
    font-family: 'georgia', serif;
}
 
    p {
        font-size: 16px;
        line-height: 1.5;
    }
    img {
        max-width: 100%;
        height: auto;
        margin: 10px 0;
    }
    header {
        background-color: coral;
        width: 960px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;

    }

    nav {
  background: #efd4ff;      
        width: 960px;

        padding: 20px;
        text-align: center;
        height: auto;

        margin: 0 auto;
}
.story-text {
  font-size: 18px;
  line-height: 1.6;
  color: #893896;
}

nav a {
  color: #893896;        
  text-decoration: none;  
  margin: 0 45px;        
  padding: 5px 10px;     
}

nav a:hover {
  color: #00008B;        
}




/*   footer {
        background-color: lightgreen;
        width: 960px;
        padding: 200px;
        margin-left: auto;
        margin-right: auto;

    }
*/
/*
    nav ul {
        display: block;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;


    }

    nav ul li{
        list-style: none;
        
    }

    nav ul li a {
        font-size: 20px;
        text-decoration: none;
        color: black;
    }

    nav ul li a:hover {
        text-underline-offset: lightgray;
    }

*/

